body {
	min-height: 2000px;
	padding-top: 70px;
	margin: 0;
    font-family: 'Rammetto One', cursive;
    font-size: 17px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}



#backvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

